iframe {
   border: 1px solid darkgrey;
   border-radius: 0.3rem;
   box-shadow: 3px 3px lightgrey;
}

.open-chat {
   position: fixed;
   bottom: 1rem;
   right: 1rem;
   height: 30px;
   width: 30px;
   border-radius: 50%;
   cursor: pointer;
}

/* .chat-window {
   display: none;
   width: 220px;
   height: 260px;
   position: fixed;
   bottom: 4rem;
   right: 1rem;
   background-color: white;
} */
.chat-window {
   max-height: 0;
   width: 220px;
   position: fixed;
   bottom: 4rem;
   right: 1rem;
   opacity: 0;
   overflow: hidden;
   padding: 0;
   transition: 
   max-height 0.4s ease,
   opacity 0.3s ease,
   padding 0.3s ease;
   border: 1px solid #ccc; /* opcjonalnie */
   border-radius: 8px;
}

/* Po otwarciu */
.chat-window.open {
   max-height: 260px; /* ustaw na maksymalną wysokość czatu */
   opacity: 1;
   padding: 16px; /* tyle ile normalnie ma mieć */
}
