.chat-window iframe {
   border: 1px solid darkgrey;
   border-radius: 0.3rem;
   box-shadow: 3px 3px lightgrey;
}

.open-chat {
   position: fixed;
   bottom: 1rem;
   right: 1rem;
   height: 1.875rem;
   width: 1.875rem;
   border-radius: 50%;
   cursor: pointer;
}

.chat-window {
   height: 0;
   width: 13.75rem;
   position: fixed;
   bottom: 4rem;
   right: 1rem;
   opacity: 0;
   overflow: hidden;
   padding: 0;
   transition: 
   height 0.7s ease,
   opacity 0.6s ease,
   padding 0.6s ease;
}

.chat-window.open {
   height: 16.25rem;
   opacity: 1;
   padding: 1rem;
}
