iframe {
   border: 1px solid darkgrey;
   border-radius: 0.3rem;
   box-shadow: 3px 3px lightgrey;
}

.open-chat {
   position: fixed;
   bottom: 1rem;
   right: 1rem;
   height: 30px;
   width: 30px;
   border-radius: 50%;
   cursor: pointer;
}

.chat-window {
   display: none;
   width: 220px;
   height: 260px;
   position: fixed;
   bottom: 4rem;
   right: 1rem;
   background-color: white;
}
